@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans');

:root {
    --amy-black: #2D2D2D;
    --amy-white: #ffffff;
    --amy-purple: #9C9CF8;
    --amy-primary: #945ED1;
    --amy-pink: #F8217F;
    --amy-gray1: #6C6C6C;
    --amy-gray2: #535353;
    --amy-gray3: #4B4B4B;
    --amy-gray4: rgb(34, 34, 34);
}

h1,
h2,
h3 {
    color: var(--amy-gray4);
    font-family: 'Fredoka One', 'cursive';
}

ul {
    list-style-type: none;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: var(--amy-gray4);
}

main{
    margin: auto auto;
    width: 700px;
}

small{
    color: var(--amy-gray2);
    font-size: 8pt;
}